version: 2
updates:
- package-ecosystem: "uv"
  directory: "/backend"
  schedule:
    interval: weekly
  groups:
    production-dependencies:
      dependency-type: "production"
    development-dependencies:
      dependency-type: "development"

- package-ecosystem: 'npm'
  directory: '/ui'
  schedule:
    interval: weekly
  groups:
    production-dependencies:
      dependency-type: "production"
      exclude-patterns:
        - "vue-multiselect"
        - "chartist-plugin-tooltips-updated"
    development-dependencies:
      dependency-type: "development"



- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly