azure-cosmos==4.9.0
azure-identity==1.25.0
coverage==7.10.7
Twisted==25.5.0
pylint==3.3.8
price-parser==0.4.0
Scrapy==2.13.3
nltk==3.9.1
Flask==3.1.2
Flask-Cors==6.0.1
Flask-Headers==1.0
defusedxml==0.7.1
requests==2.32.5
Jinja2==3.1.6