azure-cosmos==4.9.0
azure-identity==1.20.0
coverage==7.6.11
Twisted==24.11.0
pylint==3.3.4
price-parser==0.3.4
Scrapy==2.12.0
nltk==3.9.1
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Headers==1.0
defusedxml==0.7.1
requests==2.32.3
Jinja2==3.1.5