coverage==7.6.1
Twisted==24.7.0
psycopg2-binary==2.9.9
pylint==3.2.7
SQLAlchemy==2.0.32
price-parser==0.3.4
Scrapy==2.11.2
nltk==3.9.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Headers==1.0
uWSGI==2.0.26
defusedxml==0.7.1
requests==2.32.3
Jinja2==3.1.4